<html class="flex flex-col min-h-screen">
<header>
    <%- include('partials/header') -%>
</header>

<body>
    <main>
        <section class="my-20">
            <div class="flex flex-col space-y-20 min-h-screen">
                <div class="flex flex-col justify-center items-center">
                    <h4 class="text-md text-gray-700">How It Works</h4>
                    <h1 class="font-bold text-2xl py-2">Are you a Creator or a Maker?</h1>
                </div>
                <div class="flex self-center justify-center space-x-10 m-0 max-w-lg">
                    <button class="h-36 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm min-w-full sm:w-auto px-5 py-2.5 text-center text-3xl dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Creator</button>
                    <button class="h-36 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm min-w-full sm:w-auto px-5 py-2.5 text-center text-3xl dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Maker</button>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="flex flex-col ml-40 space-y-10">
                    <h2 class="font-bold text-xl py-2">Creator</h2>
                    <p>1.</p>
                    <p>Design your part using CAD</p>
                    <p>Determine the purpose and specifications of the part. Before you start designing, it's important to understand what the part is for and what its specific requirements are. This might include dimensions, materials, strength requirements, and any other functional or aesthetic considerations.</p>
                    <p>Choose a CAD software. There are many different CAD programs available, ranging from simple 2D drafting tools to more advanced 3D modeling software. Choose a program that meets your needs and that you feel comfortable using.</p>
                    <p>Save and export the file. When you're happy with your design, save the file in a format that can be used by your 3D printer or other manufacturing equipment. Common file formats for 3D printing include STL and OBJ, but you may need to use a different format depending on your specific needs.</p>
                </div>
                <div class="flex justify-end">
                    <img src="/imgs/midjourney-engineer-pc.png" class="h-full max-w-3xl object-cover rounded-l-3xl shadow-xl">
                </div>
            </div>
                
            
        </section>
    </main>
</body>

<footer>
    <%- include('partials/footer') -%>
</footer>

</html>
