<%- include('partials/header') -%>
<main class="container">
    <section>
        <div class="h8">
            <img src="https://img.freepik.com/free-vector/3d-isometric-ultraviolet-laptop-printer_1441-2150.jpg?w=1480&t=st=1669054702~exp=1669055302~hmac=1ad2a80eddc062bc4d8f034533ce555a343100a26f064415781abc59604f2095">
        </div>
    </section> 
    <div class="#">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
<%- include('partials/footer') -%>

