@tailwind base;
@tailwind components;
@tailwind utilities;


.form-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.form-control {
    border-color: black;
}

/* .form-label {
    padding-right: 1rem;
    display: block;
    margin-bottom: 0.5rem;
    font-size: ;
    block mb-2 text-sm font-medium text-gray-900 dark:text-white
} */